#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card div {
  margin-bottom: 10px;
}

.card .counter {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card .counter button {
  margin: 0 10px;
}

.card .counter span {
  margin: 0 10px;
}

.card .counter .counter-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.card .counter .counter-display label {
  font-weight: bold;
  margin-bottom: 5px;
}

.card .counter .counter-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: default;
  text-align: center;
  min-width: 50px;
}

.card .swipe-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  padding: 20px;
  border: 2px solid #007bff;
  border-radius: 10px;
  background-color: rgb(192, 171, 31);
}

.card .swipe-counter.right {
  background-color: #28a745;
  transform: translateX(20px);
}

.card .swipe-counter.left {
  background-color: #dc3545;
  transform: translateX(-20px);
}

.start-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.start-button {
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #0056b3;
}

.select-option {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: rgb(16, 127, 53);
}

.end-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.end-button:hover {
  background-color: #c82333;
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: bold;
  z-index: 1000;
  opacity: 0.9;
  text-align: left;
  line-height: 1.5;
}

.data-vector {
  margin-top: 20px;
  width: 100%;
}

.data-vector h3 {
  margin-bottom: 10px;
}

.data-vector ul {
  list-style-type: none;
  padding: 0;
}

.data-vector li {
  background-color:rgb(48, 96, 145);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.data-vector table {
  width: 100%;
  border-collapse: collapse;
}

.data-vector th, .data-vector td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.data-vector th {
  background-color:rgb(13, 67, 38);
  font-weight: bold;
}

.data-vector tr:nth-child(even) {
  background-color:rgb(55, 88, 177);
}

.data-vector tr:hover {
  background-color:rgb(60, 190, 207);
}

.read-the-docs {
  color: #888;
}
